
body {
    background-image: url('backgraundSU.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#NameProduct {
    font-size: x-large;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
}

.globalBox {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 900px;
    transform: translate(-50%, -50%);
    background: #ffc107;
    opacity: 80%;
    border-radius: 5px;
    overflow: auto;
}
#reqError{
    color: chartreuse;
}
#reqEdit{
    color: chartreuse;
}
#productField{
    font-size: x-small;
    color: #e4e4e4;
    overflow: auto;
}
#connectingPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 900px;
    transform: translate(-50%, -50%);
    background: #FFFFCC;
    opacity: 80%;
    border-radius: 5px;
}
#tileBoxCreateUser{
    text-align: center;
    font-family: "Fira Code";
}
img {
    max-width: 100%;
    height: auto;
}
#startPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 350px;
    transform: translate(-50%, -50%);
    opacity: 80%;
    border-radius: 5px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#logPanel {

}

#LogoProduct {
    text-align: center;
    color: darkblue;
    font-weight: bold
}

#sloganProduct {
    text-align: center;
    color: dimgrey;

}

#loginOption {
    padding-top: 10px;
    text-align: center;
}

#registerPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #FFFFCC;
    opacity: 90%;
    border-radius: 5px;
    width: 500px;
}


footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-weight: bold;

}
