<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="header" class="alt" th:include="static :: link"/>


<body>
<div id="menu" class="alt" th:include="menu :: menu"/>

<h1>Stwórz nowego użytkownika Tylko dla admina</h1>

</body>
<div id="globalBox" class="container-fluid p-4 w-75">
    <form th:action="@{/add-user}" th:object="${userToInsert}" method="post">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Login i hasło</span>
            </div>
            <input type="text" aria-label="Login" class="form-control" th:field="*{login}"/>
            <input type="password" aria-label="Hasło" class="form-control" th:field="*{password}"/>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">E-mail</span>
                </div>
                <input type="email" th:field="*{email}" class="form-control" placeholder="E-mail" aria-label="E-mail"
                       aria-describedby="addon-wrapping"/>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" th:field="*{role}">
                <option th:each="role:${T(com.csbd.CSBD100.v.model.enums.type.RoleUserType).values()}"
                        th:value="${role}"
                        th:text="${role}">
                </option>
            </select>
        </div>
        <p><input type="submit" value="dodaj"/></p>
    </form>
</div>

<footer class="alt" th:include="footer :: footer"/>
</html>