<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="header" class="alt" th:include="static :: link"/>
<head>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div id="menu" class="alt" th:include="menu :: menu"/>
<div>
    <div class="container globalBox align-middle bg-warning w-90 h-75">
        <div id="level1Wallet" class="container-fluid text-center p-5 h-100">
            <div class="row h-75 ">

                <div id="basicInfClient" class="col-sm-2 sidenav">
                    <div id="container">
                        <div id="basicInfo"class="bg-dark rounded text-left text-light p-2">
                            <div id="nameClient">
                                <h5>Klient: <span th:text="${id_client.privatePersonID}"></span></h5>
                                </div>
                            <div id="statusClient">
                                <h5>Status:  <span th:text="${id_client.status}"></span></h5>
                               </div>
                            <div id="dateStartClient">
                                <h5>Od kiedy:  <span th:text="${id_client.createData}"></span></h5>
                               </div>
                            <div id="totalSumClient">
                                <h5>W sumie wydał: <span th:text="${id_client.sumOfBuy}"></span></h5>
                                </div>

                        </div>
                        <div id="buttonsWallet">
                            <div id="bAdd" class="py-1">
                                <form method="get" action="/shop">
                                    <input name="id_client" type="text" class="form-control"
                                           th:value="${id_client.privatePersonID}" hidden>
                                    <button type="submit" class="btn btn-secondary btn-block">Dodaj Nowy</button>
                                </form>
                            </div>
                            <div id="bInf" class="py-1">
                                <form method="get" action="/client-information">
                                    <input name="id_client" type="text" class="form-control"
                                           th:value="${id_client.privatePersonID}" hidden>
                                    <button type="submit" class="btn btn-secondary btn-block">Informacje</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="productField" class="col-sm-10 text-left text-light bg-dark rounded p-5">
                    <div style="overflow: auto">
                        <table class="table ">
                            <thead>
                            <tr class="d-flex" style="color: #e4e4e4;">
                                <th class="col-3">Pełna nazwa</th>
                                <th class="col-2">Brandcode</th>
                                <th class="col-1">Ilość</th>
                                <th class="col-1">Ważne do</th>
                                <th class="col-1">Rodzaj</th>
                                <th class="col-1">Jednostka</th>
                                <th class="col-1">Cena zakupu</th>
                                <th class="col-1">Czas użytkowania</th>
                                <th class="col-1">Data zakupu</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="d-flex" style="color:chartreuse" th:each="item: ${id_client.items}">
                                <form action="/delete-item" method="post" th:object="${item}">
                                    <td class="col-3" th:text="${item.fullName}"></td>
                                    <td class="col-2" th:text="${item.brandCode}"></td>
                                    <td class="col-1" th:text="${item.amount}"></td>
                                    <td class="col-1" th:text="${item.expirationDate}"></td>
                                    <td class="col-1" th:text="${item.itemKind}"></td>
                                    <td class="col-1" th:text="${item.unit}"></td>
                                    <td class="col-1" th:text="${item.salePrice}"></td>
                                    <td class="col-1" th:text="${item.lengthOfWork}"></td>
                                    <td class="col-1" th:text="${item.saleDate}"></td>


                                    </td>
                                </form>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
            <div class="row content border border-dark h-25 my-2"></div>
        </div>
    </div>

</div>
</body>
<footer class="alt" th:include="footer :: footer"/>
</html>