<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="header" class="alt" th:include="static :: link"/>

<body>
<div id="menu" class="alt" th:include="menu :: menu"/>
<div class="containera globalBox align-middle bg-warning w-75 h-75">
    <div id="tileBoxCreateUser" class="p-3">
    </div>
    <div id="createItem" class="p-5 ">
        <h2> Dodawanie elementow stałej sprzedaży <span id="reqError" class="text-info" th:text="${reqAdd}"> </span>
        </h2>

        <form class="needs-validation border border-secondary p-3" novalidate th:action="@{/item}"
              th:object="${itemToInsert}" method="post">

            <div id="levelOne" class="form-row">
                <div id="fullNameField" class="col-md-6 mb-3">
                    <label for="fullName">Pełna nazwa</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-address-card'></i></span>
                            </div>
                            <input id="fullName" type="text" aria-label="Pełna nazwa" class="form-control"
                                   th:field="*{fullName}" required/></div>
                    </div>
                </div>

                <div id="brandCodeField" class="col-md-3 mb-3">
                    <label for="brandCode">Brand Code</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-barcode'></i></span>
                            </div>
                            <input id="brandCode" type="text" aria-label="Brand Code" class="form-control"
                                   th:field="*{brandCode}"
                                   required/>
                        </div>
                    </div>
                </div>

                <div id="expirationDateField" class="col-md-2 mb-3">
                    <label for="expirationDate">Data ważności</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-hourglass-end'></i></span>
                            </div>
                            <input id="expirationDate" type="text" aria-label="dd/mm/rrrr" class="form-control"
                                   th:field="*{expirationDate}" required/></div>


                    </div>
                </div>

                <div id="workingTimeField" class="col-md-1 mb-3">
                    <label for="workingTime">Czas używania</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='far fa-clock'></i></span>
                            </div>
                            <input id="workingTime" type="number" class="form-control"
                                   th:field="*{workingTime}" required/></div>


                    </div>
                </div>

            </div>

            <div id="levelTwo" class="form-row">

                <div id="unitField" class="col-md-2 mb-3">
                    <label for="unit">Jednostka</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i
                                        class='fas fa-balance-scale'></i></span>
                            </div>
                            <select class="custom-select" id="unit" th:field="*{unit}">
                                <option th:each="unit:${T(com.csbd.CSBD100.v.model.enums.categorie.BasicUnit).values()}"
                                        th:value="${unit}"
                                        th:text="${unit}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="itemKindField" class="col-md-2 mb-3">
                    <label for="itemKind">Rodzaj</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id=""><i
                                        class='	fas fa-sitemap'></i></span>
                            </div>
                            <select class="custom-select" id="itemKind" th:field="*{itemKind}">
                                <option th:each="itemKind:${T(com.csbd.CSBD100.v.model.enums.categorie.ItemKind).values()}"
                                        th:value="${itemKind}"
                                        th:text="${itemKind}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="taxField" class="col-md-2 mb-3">
                    <label for="tax">Podatek</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i
                                        class='fas fa-percent'></i></span>
                            </div>
                            <select class="custom-select" id="tax" th:field="*{tax}">
                                <option th:each="tax:${T(com.csbd.CSBD100.v.model.enums.categorie.Tax).values()}"
                                        th:value="${tax}"
                                        th:text="${tax}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="lengthOfWorkField" class="col-md-2 mb-3">
                    <label for="lengthOfWork">Czas wykonania</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-tasks'></i></span>
                            </div>
                            <input id="lengthOfWork" type="number" aria-label="0" class="form-control"
                                   th:field="*{lengthOfWork}"
                                   required/>
                        </div>
                    </div>
                </div>

                <div id="purchasePriceField" class="col-md-2 mb-3">
                    <label for="purchasePrice">Cena zakupu </label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='far fa-money-bill-alt'></i></span>
                            </div>
                            <input id="purchasePrice" type="text" aria-label="0" class="form-control"
                                   th:field="*{purchasePrice}"
                                   required/>
                        </div>
                    </div>
                </div>

                <div id="salePriceField" class="col-md-2 mb-3">
                    <label for="salePrice">Cena sprzedaży </label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-hand-holding-usd'></i></span>
                            </div>
                            <input id="salePrice" type="text" aria-label="0" class="form-control"
                                   th:field="*{salePrice}"
                                   required/>
                        </div>
                    </div>
                </div>


            </div>
            <button class="btn btn-primary btn-block btn-lg" type="submit"><i class='far fa-save p-2'></i> Utwórz
            </button>
        </form>


    </div>
        <div id="viewAllUsers" class="p-5">
            <h2> Edytuj przedmiot <span id="reqEdit" class="text-info" th:text="${reqDeleted}"> </span></h2>
            <table class="table ">
                <thead>
                <tr class="d-flex">
                    <th class="col-3">Pełna nazwa</th>
                    <th class="col-1">Brandcode</th>
                    <th class="col-1">Ilość</th>
                    <th class="col-1">Ważne do</th>
                    <th class="col-1">Rodzaj</th>
                    <th class="col-1">Jednostka</th>
                    <th class="col-1">Cena zakupu</th>
                    <th class="col-1">Czas użytkowania</th>
                    <th class="col-1 text-center ">Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr class="d-flex" th:each="item: ${items}">
                    <form action="/delete-item" method="post" th:object="${item}">
                        <td class="col-3" th:text="${item.fullName}"></td>
                        <td class="col-1" th:text="${item.brandCode}"></td>
                        <td class="col-1" th:text="${item.amount}"></td>
                        <td class="col-1" th:text="${item.expirationDate}"></td>
                        <td class="col-1" th:text="${item.itemKind}"></td>
                        <td class="col-1" th:text="${item.unit}"></td>
                        <td class="col-1" th:text="${item.paymentDate}"></td>
                        <td class="col-1" th:text="${item.salePrice}"></td>
                        <td class="col-1" th:text="${item.lengthOfWork}"></td>
                        <td class="col-1">
                            <input type="hidden" name="id" th:value="${item.id}">
                            <button class="btn btn-outline-danger  btn-block" value="remove"><i
                                    class='far fa-trash-alt p-2'></i>Usuń
                            </button>
                        </td>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
<footer class="alt" th:include="footer :: footer"/>
</html>