<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="header" class="alt" th:include="static :: link"/>


<body>
<div id="menu" class="alt" th:include="menu :: menu"/>
</body>
<div class="containera globalBox align-middle bg-warning w-75 h-75">
    <div id="tileBoxCreateUser" class="p-3">

    </div>
    <div id="createUserForm" class="p-5 ">
        <h2> Kreator nowego użytkownika <span id="reqError" class="text-info" th:text="${reqAdd}"> </span></h2>

        <form class="needs-validation border border-secondary p-3" novalidate th:action="@{/user}"
              th:object="${userToInsert}" method="post">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="login">Twój login</label>

                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-user-tie'></i></span>
                            </div>
                            <input id="login" type="text" aria-label="Login" class="form-control" th:field="*{login}"
                                   required/>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="pwd">Hasło</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-key'></i></span>
                            </div>
                            <input id="pwd" type="password" aria-label="Hasło" class="form-control"
                                   th:field="*{password}" required/></div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="role">Rola</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i
                                        class='fas fa-balance-scale'></i></span>
                            </div>
                            <select class="custom-select" id="role" th:field="*{role}">
                                <option th:each="role:${T(com.csbd.CSBD100.v.model.enums.type.RoleUserType).values()}"
                                        th:value="${role}"
                                        th:text="${role}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="email">E-mail</label>

                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@ </span>
                            </div>
                            <input id="email" type="email" th:field="*{email}" class="form-control" placeholder="E-mail"
                                   aria-label="E-mail"
                                   aria-describedby="addon-wrapping" required/></div>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="city">Miejscowość </label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='fas fa-map-marker-alt'></i></span>
                            </div>
                            <input id="city" type="text" th:field="*{city}" class="form-control" placeholder="Miasto"
                                   aria-label="Miasto"
                                   aria-describedby="addon-wrapping" required/></div>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="zip">Kod pocztowy</label>
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class='far fa-envelope'></i>

                            </span>
                                <input id="zip" type="text" th:field="*{zipCode}" class="form-control"
                                       placeholder="Kod Pocztowy"
                                       aria-label="Kod Pocztowy"
                                       aria-describedby="addon-wrapping" required/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-block btn-lg" type="submit"><i class='fas fa-user-plus p-2'></i> Utwórz
            </button>
        </form>


    </div>
    <div id="viewAllUsers" class="p-5">
        <h2> Edytuj użytkownika <span id="reqEdit" class="text-info" th:text="${reqDeleted}"> </span></h2>

        <table class="table ">
            <thead>
            <tr class="d-flex">
                <th class="col-2">Login</th>
                <th class="col-4">Email</th>
                <th class="col-2">Role</th>
                <th class="col-2">Miasto</th>
                <th class="col-1">Kod pocztowy</th>
                <th class="col-1 text-center ">Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr class="d-flex" th:each="user: ${allUsers}">
                <form action="/delete-user" method="post" th:object="${user}">


                    <td class="col-2" th:text="${user.login}"></td>
                    <td class="col-4" th:text="${user.email}"></td>
                    <td class="col-2" th:text="${user.role}"></td>
                    <td class="col-2" th:text="${user.city}"></td>
                    <td class="col-1" th:text="${user.zipCode}"></td>
                    <td class="col-1">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <button class="btn btn-outline-danger  btn-block" value="remove"><i
                                class='fas fa-user-minus p-2'></i>Usuń
                        </button>

                    </td>
                    </td>

                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="alt" th:include="footer :: footer"/>
</html>